<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>
        {%block title%}
            Магазин одежды
        {%endblock%}
    </title>
</head>


<body>
    <center>
        {% block content%}
            Вы находитесь на странице
        {%endblock%}
    </center>
    {% block linkets %}
    <div class="css">
        <ul> <li><a href="/main/">Главная</a></li> </ul>
        <ul> <li><a href="/hats/">Шляпы</a></li> </ul>
        <ul> <li><a href="/clothes/">Одежда</a></li> </ul>
        <ul> <li><a href="/shoes/">Обувь</a></li> </ul>
        <ul><li><a href="/loging/">Войти</a></li></ul>    
    </div>
    {% endblock %}
</body>
</html>