<!DOCTYPE html>

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <Title>Магазин одежды</Title>
    <link rel="stylesheet" type='text/css' href="style.css">
</head>

<body>
    <center>
        <header>
            <h1>Добро пожаловать в нас магазин</h1>
        </header>
    </center>
    <ul>
        <li><a href = 'hats/'>Шляпы</a></li>
        <li><a href = 'clothes/'>Одежда</a></li>
        <li><a href = 'shoes/'>Обувь</a></li>
    </ul>
    <center>
        <h2> Вы на странице "Обувь" </h2>
    </center>
    
</body>
</html>